<!-- 회원 등록 폼 HTML -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">

    <form action="/members/new" method="post"> <!-- 폼이 제출되면 /members/new로 POST 요청-->
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요"> <!-- name="name"이라는 필드명으로 값이 전송됨-->
        </div>
    <button type="submit">등록</button> <!-- 버튼 클릭 시 폼 제출-->
    </form>

</div> <!-- /container -->

</body>
</html>